:root {
    --black-main: #090909;
    --white-main: #E4E4E4;
    --orange-main: #DA7400;
}
* {
    font-family: brandon-grotesque, sans-serif;
    margin: 0;
}
/*Baggrunds farven på body skal sort, medmindre andet bliver sagt */
body {
    background-color: var(--black-main);
}
/*Styling af forsiden, bl.a. baggrundsbillede*/
.forside {
    background-image: url(baggrund.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*Styling af headeren*/
header{
    width: 100%;
    height: 75px;
    margin: 0;
    z-index: 99;
    position: fixed;
}

/*Styling af toplogoet*/
.mobilelogo {
    width: 60px;
    margin-left: 25%;
    margin-right: auto;
    margin-top: 10px;
}
/*Fjerner checkboksen, så den ikke ses */
#menuArea input {
    display: none;
  }
  /*Styling af burger menu iconet*/
  .open {
    background-color: var(--black-main);
    width: 45px;
    height: 4px;
    display: block;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    top: 8px;
    z-index: 100;
  }
  
  .open:before {
    content: "";
    background-color: var(--black-main);
    width: 45px;
    height: 4px;
    display: block;
    border-radius: 2px;
    position: relative;
    top: -8px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
  }
  
  .open:after {
    content: "";
    background-color: var(--black-main);
    width: 45px;
    height: 4px;
    display: block;
    border-radius: 2px;
    position: relative;
    top: 4px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
  }
  
  .menuOpen {
    width: 24px;
    height: 20px;
    display: block;
    padding: 25px;
    cursor: pointer;
    float: left;
  }
  
  .menuOpen:hover .open:before {
    top: -9px;
  }
  
  .menuOpen:hover .open:after {
    top: 5px;
  }
  /*Styling af burger menu ind  hold */
  .menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: var(--black-main);
    z-index: 99;
  }
  
  .menu label {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    background-size: 100%;
    cursor: pointer;
  }
  
  .menu .menuContent {
    position: relative;
    top: 50%;
    font-size: 54px;
    margin-left: 20px;
    padding-bottom: 20px;
    margin-top: -170px;
  }
  /*Styling af socialmedia iconer */
  .menu .menuContent img {
      width: 50px;
      margin-top: 20px;
      margin-right: 10px;
  }

  /*Styling af ul */
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
  }
  
  /*styling af knapper i burgermenu */
  .menu ul li a {
    display: block;
    color: white;
    text-decoration: none;
    transition: color 0.2s;
    text-transform: uppercase;
    font-weight: 900;
    padding: 10px 0;
  }
  
  /*Styling af animationen omkring tryk på burgermenu*/
  .menuEffects {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
  }
  
  .menuEffects ul {
    transform: translateY(0%);
    transition: all 0.5s;
  }
  
  #menuToggle:checked ~ .menuEffects {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
  }
  
  #menuToggle:checked ~ .menuEffects ul {
    opacity: 1;
  }
  
  #menuToggle:checked ~ .menuOpen .open {
    background-color: transparent;
  }
  
  #menuToggle:checked ~ .menuOpen .open:before {
    content: "";
    background-color: white;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
  
  #menuToggle:checked ~ .menuOpen .open:after {
    content: "";
    background-color: white;
    transform: rotate(-45deg);
    position: relative;
    top: 0;
    right: 0;
    z-index: 1;
  }
  
  #menuToggle:not(:checked) ~ .menuEffects ul {
    transform: translateY(-30%);
  }
  /*forside styling*/
  .intro-jg {
    width: 100%;
    height: auto;
    color: var(--white-main);
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-bottom: 15vh;
  }
  .intro-jg h1 {
      font-weight: 400;
      font-size: 40px;
      margin-bottom: -20px;
      letter-spacing: 0.05em;
  }
  .intro-jg h2{
      font-size: 30px;
      font-weight: 300;
      font-style: italic;
      color: var(--white-main);
      margin-bottom: 5px;
      letter-spacing: 0.1em;
  }


  .intro-jg a {
    padding: 15px 60px;
    color: var(--black-main);
    font-weight: 900;
    border: solid 1px black;
    border-radius: 15px;
    text-decoration: none;
}

  /*Kontakt*/

  .main-kontakt {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      background-color: var(--white-main);
  }

  .main-kontakt h1 {
      color: var(--black-main);
      font-size: 4rem;
  }
  
    .kontakt {
      width: 75%;
      height: 65vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      background-color: var(--white-main);
  }

  .kontakt .small-input {
      color: var(--black-main);
      text-align: center;
      border: solid 0.5px var(--black-main);
      border-radius: 10px;
      font-size: 2rem;
      width: 250px;
      height: 50px;
      background-color: var(--white-main);
  }

  .kontakt .big-input {
    width: 250px;
    height: 150px;
    font-size: 2rem;
    border: solid 1px var(--black-main);
    color: var(--black-main);
    background-color: var(--white-main);

}
.kontakt button {
    width: 250px;
    height: 100px;
    background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
    background-color:#2dabf9;
    cursor: pointer;
    border-radius:3px;
    font-size: 30px;
    font-weight: 900;
    border:1px solid #0b0e07;
}

.om {
    width: 100%;
    height: 100vh;
    background-color: var(--white-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: var(--black-main);
}

.om img {
    margin-top: 30px;
}

.om h3 {
    margin-top: 20px;
}
.om p {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    width: 50%;
    
}

/*Portfolio*/

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Gem slides */
  .mySlides {
    display: none;
    image-rendering: -webkit-optimize-contrast;

  }

  /* Frem og tilbage knapper */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 80px;
    transition: 0.6s ease;
    border-radius: 0 6px 6px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  

  .semere {
      z-index: 1;
      position: absolute;
      top: 75%;
      left: 26%;
      margin-left: auto;
      margin-right: auto;  
      box-shadow: 0px 1px 7px 0px #000000;
      background-color:#ffffff00;
      border-radius: 25px;
      border:2px solid var(--black-main);
      display:inline-block;
      font-weight: 900;
      cursor:pointer;
      color:#000000;
      font-size:15px;
      padding:15px 62px;
      text-decoration:none;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

    /*styling af undersider til portfolio*/

  /*Green Gear*/ 

  .greengear-main {
    height: 100vh;
    width: 100%;
    background: url(slides/greengear.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.pil {
  font-size: 90px;
  color: var(--white-main);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
.info h1 {
  font-size: 10vw;
  margin-top: 3vh;
}
.info h2 {
  font-size: 5vw;
  margin-top: 8vh;
}

.info p {
  font-size: 4vw;
  color: var(--white-main);
}

.skolevideo {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.skolevideo h1 {
    font-size: 10vw;
    color: #80429B;
}

.sommerbarn-main {
    height: 100vh;
    width: 100%;
    background: url(slides/sommerbarn.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.venstre-main {
    height: 100vh;
    width: 100%;
    background: url(slides/venstre.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.billedervenstre {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        color: var(--white-main);

}

.billedervenstre h2 {
    margin-top: 3vh;
}
.billedervenstre img {
    margin-top: 3vh;
}

.billede-container {
    width: 30%;
    height: 100px;
}
.info-venstre {
    display: flex;
    flex: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 30px;
}
.info-venstre h2 {
    margin-top: 0px;
    color: var(--white-main);
}
.breakdance-main {
    height: 100vh;
    width: 100%;
    background: url(slides/breakdance.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.micom-main {
height: 100vh;
width: 100%;
background: url(slides/micomdata.png);
background-size: cover;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-end;
position: relative;
}
.standard-main {
    height: 100vh;
    width: 100%;
    background: url(slides/standard.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    }
.spacegym-main {
    height: 100vh;
    width: 100%;
    background: url(slides/spacegym.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.hovedinfo {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    color: var(--white-main);

}

.hovedinfo h1 {
    font-size: 10vw;
    margin-top: 3vh;
    align-self: center;
}

.hovedinfo h2 {
    margin-top: 20px;
    font-size: 5vw;
}

.hovedinfo p {
    margin-bottom: 20px;
    font-size: 3vw;
}
  @media screen and (min-width: 480px) {
      .forside {
          background-color: var(--black-main);
          background-image: url(baggrund-desktop.png);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          height: 100%;
          image-rendering: -webkit-optimize-contrast;
      }

      .big-nav {
          width: 35%;
          float: right;
          margin-right: 10px;
          margin-left: auto;
          margin-top: 10px;
          display: flex;
          justify-content: space-evenly;

      }
      .big-nav a {
          text-decoration: none;
          color: var(--black-main);
      }
      .big-nav a:hover {
        color: #0D33C5;
      }
      .intro-jg {
          margin-bottom: 10px;
      }

      .slideshow-container {
          max-width: 1920px;
      }
.imget {
    display: none;
}
.semere {
    left: 43%;
}

.skolevideo video {
    height: 600px;
}

.sommerbarn-main {
    background-image: url(slides/sommerbarn-desktop.png);
    image-rendering: -webkit-optimize-contrast;
}
.greengear-main {

    background: url(slides/greengear-desktop.png);
    image-rendering: -webkit-optimize-contrast;
    background-size: cover;
  }
  .venstre-main {

    background: url(slides/venstre-desktop.png);
    background-size: cover;
    image-rendering: -webkit-optimize-contrast;
  }
  .breakdance-main {

    background: url(slides/breakdance-desktop.png);
    image-rendering: -webkit-optimize-contrast;
    background-size: cover;
}
.spacegym-main {
    height: 100vh;
    width: 100%;
    background: url(slides/spacegym-desktop.png);
    background-size: cover;
  }
  .micom-main {
    height: 100vh;
    width: 100%;
    background: url(slides/micomdata-desktop.png);
    background-size: cover;
  }
  .standard-main {
    height: 100vh;
    width: 100%;
    background: url(slides/standard-desktop.png);
    background-size: cover;
  }

  .kontaktflex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .hovedinfo h2 {
    font-size: 4vw;
  }
  .hovedinfo p {
    font-size: 2vw;
  }
}

  @media screen and (max-width: 480px) {

    .imgto {
        display: none;
    }
    header h3 {
      display: none;
    }
}
@media screen and (max-width: 900px) {
  .big-nav {
    display: none;
    opacity: 0;
  }
  header h3 {
    display: none;
  }


}
@media screen and (min-width: 900px) {
  #menuArea {
    display: none;
}
.mobilelogo {
  float: left;
  left: 0;
  margin-left: 10px;
  margin-right: 2px;
  margin-top: 0px;
}
.navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}


}


